@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

$textColor: #666666;
$lightTextColor: #888888;
$darkTextColor: #444444;
$white: #ffffff;
$black: #000000;
$lightAccent: #dddddd;
$darkAccent: #444444;

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container, .header-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;    
}
.container {
    margin-top: 3em;
}
// NAV
header {
    color: $textColor;
    background: $white;
    background-image: linear-gradient(to bottom, #fee140 0%, #ef6009 50%, #fa709a 100%);
    padding: 1em 0 1.5em;
    // box-shadow: inset 0 2px 12px .5px $accent;
    position: fixed;
    top: 0;
    width: 100%;
}
header::after {
    content: '';
    clear: both;
    display: block;
}
h1.logo {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    display: inline;
    
    img {
        margin-right: 10px;
        vertical-align: sub;
    }
}
.site-nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: $white;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    height: 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        border-bottom: 1px solid $lightAccent;
    }
    li:last-child {
        border-bottom: none;
    }
    a {
        text-decoration: none;
        color: $darkTextColor;
        display: block;
        padding: 1.5em 4em 1.5em 4em;
        text-transform: uppercase;
        font-size: .9em;
    }
    a:hover, a:focus {
        font-weight: bold;
        background: $lightAccent;
    }
    li.active {
        font-weight: bold;
    }
}
.site-nav--open {
    height: auto;
}
.site-nav--close {
    height: 0;
}
.menu-toggle {
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}
.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: $black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 1s;
}
.hamburger::before {
    transform: translateY(-7px);
}
.hamburger::after {
    transform: translateY(4px);
}
.open .hamburger {
    transform: rotate(45deg);
}
.open .hamburger::before {
    opacity: 0;
}
.open .hamburger::after {
    transform: rotate(-90deg) translateY(-1.5px) translateX(1.5px);
}


//////////////////////
.close .hamburger {
    transform: rotate(-45deg);
}
.close .hamburger::before {
    opacity: 1;
}
.close .hamburger::after {
    transform: rotate(90deg) translateY(1.5px) translateX(-1.5px);
}
/////////////////////////////@at-root

@media(min-width: 900px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        li {
            display: inline-block;
            border: none;
        }
        a {
            padding: .75em 0 0;
            margin-left: 2em;
            color: $black;
        }
        a:hover, a:focus {
            background: transparent;
        }
    }
}
// ALL CONTENT
section h1 {
    color: $black;
    font-size: 1.6em;
    text-align: center;
}

// HOME CONTENT
#hero {
    margin-top: 3em;
    //flex: 1 0 auto;
}

//FOOTER
footer {
    background: $black;
    font-size: .75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". footer button";
    p:first-child {
        color: $white;
        grid-area: footer;
        justify-self: center;
        align-self: center;
    }
    p:last-child {
        color: $black;
        grid-area: button;
        justify-self: right;
        align-self: end;
        font-weight: bold;
        vertical-align: sub;
        background-image: linear-gradient(to bottom, #fa709a 0%, #ef6009 50%, #fee140 100%);        
        padding: 1em 1em .5em;
        margin-right: .5em;
        border-radius: 7px;
        cursor: pointer;
    }
}
@media(min-width: 900px) {
    p:last-child {
        visibility: hidden;
    }
}