@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

$textColor: #111111;
$lightTextColor: #292727;
$darkTextColor: #070707;
$lightAccent: #eeeeee;

$white: #ffffff;
$black: #000000;

$goldenrod: #e77a09;
$mustard: #ffa50a;
$ltOrange: #fe6b17;
$dkOrange: #e73a09;
$red: #ff1c0a;

$pink: #fa709a;
$orange: #ef6009;

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container, .header-container {
    width: 100%;
    //max-width: 1500px;
    margin: 0 auto;    
}
.container {
    margin-top: 3em;
}
// NAV
header {
    color: $textColor;
    background: $white;
    background-image: linear-gradient(to bottom, $mustard 0%, $ltOrange 50%, $red 100%);
    padding: 1em 0 1.5em;
    // box-shadow: inset 0 2px 12px .5px $accent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
header::after {
    content: '';
    clear: both;
    display: block;
}
h1.logo {
    color: $black;
    font-size: 24px;
    font-weight: 700;
    display: inline;
    
    img {
        margin-right: 10px;
        vertical-align: sub;
    }
}
.site-nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: $white;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    height: 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        border-bottom: 1px solid $lightAccent;
    }
    li:last-child {
        border-bottom: none;
    }
    a {
        text-decoration: none;
        color: $darkTextColor;
        display: block;
        padding: 1.5em 4em 1.5em 4em;
        text-transform: uppercase;
        font-size: 1.5m;
    }
    a:hover, a:focus {
        font-weight: bold;
        background: $lightAccent;
    }
    li.active {
        font-weight: bold;
    }
}
.site-nav--open {
    height: auto;
}
.site-nav--close {
    height: 0;
}
.menu-toggle {
    padding: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}
.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: $black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 1s;
}
.hamburger::before {
    transform: translateY(-7px);
}
.hamburger::after {
    transform: translateY(4px);
}
.open .hamburger {
    transform: rotate(45deg);
}
.open .hamburger::before {
    opacity: 0;
}
.open .hamburger::after {
    transform: rotate(-90deg) translateY(-1.5px) translateX(1.5px);
}
.close .hamburger {
    transform: rotate(-45deg);
}
.close .hamburger::before {
    opacity: 1;
}
.close .hamburger::after {
    transform: rotate(90deg) translateY(1.5px) translateX(-1.5px);
}
@media(min-width: 900px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        li {
            display: inline-block;
            border: none;
        }
        a {
            padding: .75em 0 0;
            margin-left: 2em;
            color: $black;
        }
        a:hover, a:focus {
            background: transparent;
        }
    }
}
// for floating cards
.card {
    width: 90%;
    margin: 0 auto;
    padding: .2em;
    border-radius: 5px;
}
@media(min-width: 900px) {
    .card {
        width: 30%;
        max-width: 500px;
        //margin-right: 3em;
        //margin-top: -1em;
        //position: relative;
        //top: 2.8em;
        //right: -2em;


    }
}
.btn-wrapper {
    padding: .75em 1em .75em;
    display: inline-block;
}
.btn-wrapper:hover, .btn-wrapper:focus {
    // a {
    //     color: $white;
    // }
    background-color: rgba(231,122,9,.5);
}
@media(min-width: 900px) {
    .btn-wrapper {
        display: inline-block;
    }
}
// ALL CONTENT
section {
    //margin-top: 1em;
    padding: 1em 0 1em;
    h1 {
        color: $goldenrod;
    }
    h2 {
        color: $mustard;
    }
    text-align: center;
    color: $black;
    .subsection-title {
        color: $darkTextColor;
        margin-bottom: 0;
    }
    .subsection-details {
        margin-top: 0;
    }
    a {
        text-decoration: none;
        color: $dkOrange;
        font-weight: bold;
    }
    hr {
        border: 0;
        height: 2px;
        margin: 2em auto 2em;
    }    
}
@media(min-width: 900px) {
    // for changing font sizes at bigger sizes
}
// HOME CONTENT
#home {
    .member-title {
        color: $dkOrange;
    }
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../img/backgroundHome.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    .card {
        color: $dkOrange;
        background: rgba(255,165,10,.3);
        outline: 1px solid $dkOrange;
        outline-offset: -1em;
        h2 {
            color: $dkOrange;
            margin-bottom: .5em;
        }   
        h4 {
            margin-bottom: .5em;
        }
        .btn-wrapper:last-child {
            margin-bottom: 2em;
        }
        .btn-wrapper {
            outline: 1px solid $dkOrange;
        }        
        display: inline-block;
        transform: rotate(3deg);
    }

}
// ABOUT CONTENT
#about {
    width: 90%;
    padding-bottom: 0;
    margin: 0 auto 0;
    figcaption {
        font-style: italic;
    }    
    hr {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(231, 122, 9, 0.75), rgba(0, 0, 0, 0));
    }
    // WANT TO TRY USING GRID HERE INSTEAD!
    .members {
        // display: grid;
        // grid-gap: 1.5em;
        // grid-template-areas: 'content';
        display: flex;
        flex-direction: column;
    }
    .card {
        text-align: center;
        min-width: 200px;
        max-width: 300px;
        box-shadow: 1px 1px 12px .05px $black;
        outline: none;
        border-radius: 0;

        margin-bottom: 1.5em;
        h4 {
            margin: .5em auto 0;
            //font-family: 'Berkshire Swash', cursive;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        a {
            color: $lightTextColor;
            border-bottom: .1em solid $dkOrange;
        }
        p {
            margin-top: .5em;
        }
        img {
            width: 100%; 
            height: auto;
            border: 1px solid $lightTextColor;
        }
    }
}
// AGILITY CONTENT
#agility {
    width: 90%;
    margin: 0 auto 0;
    .differences {
        list-style-type: none;
        padding: 0;
        text-align: left;
    }
    .differences li {
        padding: 0 0 1em 1.5em;
    }
    .differences li:before {
        content: "\f1b0";
        font-family: FontAwesome;
        display: inline-block;
        margin-left:0em;
        width: 1.5em;
    }
    .scrip-rules {
        // background-image: url(../img/scrip-bkgd.png);
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: contain;
    }
    hr {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(231, 58, 9, 0.75), rgba(0, 0, 0, 0));
    }    
}
@media(min-width: 900px) {
    #home {
        .card {
            // background: rgba(191,95,24,.5);
            // outline: 1px solid $goldenrod;
            // outline-offset: -1em;
            // h2, h4 {
            //     color: $mustard;
            // }
            // a {
            //     color: $goldenrod;
            // }
            //margin-right: 3em;
            //margin-top: -1em;
            position: relative;
            top: 2.3em;
            background: rgba(255,165,10,.5);
            display: inline-block;
            transform: rotate(-3deg);
        }
    }
    #about {
        margin-bottom: 0;
        .members {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .card {
            margin: 1em auto;
        }
        figure {
            float: left;
        }
        p {
            text-align: left;
        }
        figcaption {
            font-size: smaller;
        }    
        .card p {
            text-align: center;
        }  
    }
}

//FOOTER
footer {
    background: $black;
    font-size: .75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". footer button";
    p:first-child {
        color: $white;
        grid-area: footer;
        justify-self: center;
        align-self: center;
    }
    p:last-child {
        color: $black;
        grid-area: button;
        justify-self: right;
        align-self: end;
        font-weight: bold;
        vertical-align: sub;
        background-image: linear-gradient(to bottom, #fa709a 0%, #ef6009 50%, #fee140 100%);        
        padding: 1em 1em .5em;
        margin-right: .5em;
        border-radius: 7px;
        cursor: pointer;
    }
}
@media(min-width: 900px) {
    p:last-child {
        visibility: hidden;
    }
}