@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container, .header-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.container {
  margin-top: 3em;
}

header {
  color: #666666;
  background: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fee140), color-stop(50%, #ef6009), to(#fa709a));
  background-image: linear-gradient(to bottom, #fee140 0%, #ef6009 50%, #fa709a 100%);
  padding: 1em 0 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

header::after {
  content: '';
  clear: both;
  display: block;
}

h1.logo {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  display: inline;
}

h1.logo img {
  margin-right: 10px;
  vertical-align: sub;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0;
  background: #ffffff;
  overflow: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  height: 0;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav li {
  border-bottom: 1px solid #dddddd;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  text-decoration: none;
  color: #444444;
  display: block;
  padding: 1.5em 4em 1.5em 4em;
  text-transform: uppercase;
  font-size: .9em;
}

.site-nav a:hover, .site-nav a:focus {
  font-weight: bold;
  background: #dddddd;
}

.site-nav li.active {
  font-weight: bold;
}

.site-nav--open {
  height: auto;
}

.site-nav--close {
  height: 0;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
  content: '';
  display: block;
  background: #000000;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.hamburger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.hamburger::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.open .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  -webkit-transform: rotate(-90deg) translateY(-1.5px) translateX(1.5px);
          transform: rotate(-90deg) translateY(-1.5px) translateX(1.5px);
}

.close .hamburger {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close .hamburger::before {
  opacity: 1;
}

.close .hamburger::after {
  -webkit-transform: rotate(90deg) translateY(1.5px) translateX(-1.5px);
          transform: rotate(90deg) translateY(1.5px) translateX(-1.5px);
}

@media (min-width: 900px) {
  .menu-toggle {
    display: none;
  }
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
  }
  .site-nav li {
    display: inline-block;
    border: none;
  }
  .site-nav a {
    padding: .75em 0 0;
    margin-left: 2em;
    color: #000000;
  }
  .site-nav a:hover, .site-nav a:focus {
    background: transparent;
  }
}

section h1 {
  color: #000000;
  font-size: 1.6em;
  text-align: center;
}

#hero {
  margin-top: 3em;
}

footer {
  background: #000000;
  font-size: .75em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: ". footer button";
}

footer p:first-child {
  color: #ffffff;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer p:last-child {
  color: #000000;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: button;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: bold;
  vertical-align: sub;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fa709a), color-stop(50%, #ef6009), to(#fee140));
  background-image: linear-gradient(to bottom, #fa709a 0%, #ef6009 50%, #fee140 100%);
  padding: 1em 1em .5em;
  margin-right: .5em;
  border-radius: 7px;
  cursor: pointer;
}

@media (min-width: 900px) {
  p:last-child {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */